
::-webkit-scrollbar
{
    width: 0px;
}


.EroreWindow
{   
    position: absolute;

    margin-left: 65%;
    margin-top: 4.5em;
    background-color: rgb(139, 173, 208);
    width: 300px;
    height: 300px;
    border-radius: 5px;
    padding: 1em;
    font-weight: 500;
}

.EmailWaiterText
{
    padding-top: 1.5em;
    font-weight: 600;
    color: white;
    font-size: 22px;
}
.EmailWaiterText1
{
    font-weight: 600;
    color: white;
    font-size: 22px;
}


/*Register Form*/

.RegistrationWindow,
.LoginWindow,
.LoginWindowEmail {
    margin-top: 5%;
    width: 30%;
    height: 450px;
    margin-left: 34%;
    background-color: rgb(139, 173, 208);
    border-radius: 1em;
}
.LoginWindow 
{
    margin-top: 11%;
    height: 275px;
    margin-left: 50%;
}
.LoginWindowEmail
{
    text-align: center;
    width: 35%;
    margin-top: 17%;
    height: 300px;
    margin-left: 50%;
}
.RegButton,
.LogInButton {
    width: 80%;
    background-color: #f2f2f2;
    margin-top: 1em;
    margin-left: 20%;
    font-size: 19px;
    height: 40px;
    text-align: center;
    font-weight: 500;
    border-radius: 5px;
    border-width: 0;
    color: #000000;
    transition: 0.5s linear;
    margin-left: 10%;
}

.RegButton:hover,
.LogInButton:hover {
    color: rgb(231, 231, 231);
    background-color: #766db4;
    transition: 0.5s linear;
}
.RegistrateInput,
.RegistrateInput1,
.RegistrateInput2,
.RegistrateInputFull {
    padding-left: 0.5em;
    width: 91%;
    margin-left: 4%;
    height: 2em;
    border-radius: 3px;
    color: #8c8c8c;
    background-color: #f2f2f2;
    margin-top: 1.5em;
    transition: 0.2s;
    border: 0;
    font-size: 18px;
    border-bottom: 0.1em solid rgb(255, 255, 255);
    outline: none;
}
.RegistrateInput2
{
    margin-top: 0;
    margin-left: 0%;
}
.RegistrateInputFull {
    width: 76%;
    margin-top: 1em;
    margin-left: 11.5%;
    font-size: 19px;
    height: 40px;
}
.LoginWindow .RegistrateInput1
{
    margin-left: 6.5%;
    width: 87%;
}
.RegistrateInput1 {
    width: 83%;
    margin-left: 8.5%;
}

 .RegistrateInput::-webkit-input-placeholder,
.RegistrateInput::-webkit-inner-spin-button {
        color: #8c8c8c;
        -webkit-appearance: none;
    }
.RegistrateInput:focus {
        color: #393c57;
        border: 0;
        border-color: #fff;
        background-color: #f7f7f7;
        border-bottom: 0.1em solid rgb(46, 46, 46);
    }
/* End Register Form*/
/* End Register Form*/

.OverviewProduct .Name {
    margin-left: 0.9em;
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 26px;
    font-family: Arial,sans-serif;
}

.OverviewProduct .Price {
    margin-left: 1em;
    font-size: 22px;
    color: #008337;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Arial,sans-serif;
}

.OverviewProduct .Property {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 20px;
    font-family: Arial,sans-serif;
}

.OverviewProduct .LabelProperty {
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 20px;
    font-family: Arial,sans-serif;
}

.OverviewProduct .DescriptionP {
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 5px;
    font-size: 18px;
}

.OverviewProduct .Description,
.OverviewProduct .Description:hover {
    font-family: Nunito;
    font-size: 18px;
    padding: 0.5em;
    border-bottom: 0.1em solid #f2f2f2;
    border-radius: 15px;
    width: 90%;
    height: 10em;
    margin-left: 1em;
    resize: none;
    border-width: 0;
}

.OverviewProduct .AddButton {
    margin-top: 1em;
    margin-left: 1em;
    background-color: #f2f2f2;
    height: 2em;
    width: 10em;
    font-size: 18px;
    border-radius: 5px;
    border-width: 0;
    float: left;
}
.OverviewProduct .AddButton:hover 
{
    background-color: #bdd7df;
}

.UserContact {
    width: 90%;
    background-color: #dedede;
    margin-top: 1em;
    margin-left: 1em;
    border-radius: 1em;
    padding-left:2em;
}
.UserContact .UserName {
    font-size: 20px;
    font-weight: 500;
    margin-top:1em;
    margin-bottom:0;
}
.UserContact .OverviewPhoneNumber {
    color: black;
    width: 45%;
    height: 2em;
    font-size: 18px;
    border-radius: 3px;
    color: black;
    background-color: #f2f2f2;
    margin-top: 2.1em;
    border: 0;
    outline: none;
}
    .UserContact .OverviewButtonShowNumber {
        width: 20%;
        color: black;
        height: 2em;
        font-size: 18px;
        border-radius: 3px;
        margin-left: 5px;
        color: black;
        background-color: #f2f2f2;
        margin-top: 2.1em;
        border: 0;
        outline: none;
        transition: 1s;
    }
    .UserContact .OverviewButtonShowNumber:hover {
        transition: 1s;
        color: rgb(231, 231, 231);
        background-color: #766db4;
        transition: 1s;
    }

.AddProduct .AddProductInput
{
    width: 30%;
    height: 2em;
    font-size: 18px;
    border-radius: 3px;
    padding-left: 10px;
    margin-left: 1em;
    color: #8c8c8c;
    background-color: #f2f2f2;
    margin-top: 2em;
    transition: 0.2s;
    border: 0;
    border-bottom: 0.1em solid #f2f2f2;
    outline:none;
}
.AddProduct .AddProductInput::-webkit-outer-spin-button,
.AddProduct .AddProductInput::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.AddProduct .AddProductInput::-webkit-input-placeholder {color:    #8c8c8c;}
.AddProduct .AddProductInput:focus 
{
  color: #393c57;
  border: 0;
  border-color: #fff;
  background-color: #ffffff;
  border-bottom: 0.1em solid rgb(46, 46, 46);
}
.AddProduct #Price{ color: #009f10;}
.AddProduct .NameSelect { margin-top: 1em;font-size: 18px;}
.AddProduct .NameSelect p { padding-left: 1em; margin-bottom: 5px;}
.AddProduct .NameSelect .Fuel { padding-left: 32px;}
.AddProduct .NameSelect .Color { padding-left: 2.5em;}

.AddProduct .custom-select,
.AddProduct .custom-select,
.AddProduct .custom-select
{   
    margin-left: 1em;
    margin-top: 0;
    padding-left:10px; 
    width:25%;
    height: 2em;
    background-color: #f2f2f2;
    border-radius: 5px;
    font-size: 18px;
    border-width: 0;
}

.AddProduct .AddDescriptionP
{
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 5px;
    font-size: 18px;
}
.AddProduct .AddDescription
{
    font-family: Nunito;
    font-size: 18px;
    padding: 0.5em;
    border-bottom: 0.1em solid #f2f2f2;
    border-radius: 15px;
    width: 90%;
    height: 10em;
    margin-left: 1em;
    resize: none;
    border-width: 0;
}
.AddProduct .AddButton
{
    margin-top: 1em;
    margin-left: 1em;
    background-color: #f2f2f2;
    height: 2em;
    width: 10em;
    font-size: 18px;
    border-radius: 5px;
    border-width: 0;
    float: left;
}
.AddProduct .AddButton:hover
{
    background-color: #bdd7df;
}

.myCrEventBut {
    margin-top: 1em;
        margin-left: 1em;
        background: rgb(90, 189, 65);
        color: rgb(228, 228, 228);
        height: 2em;
        width: 10em;
        font-size: 18px;
        border-radius: 5px;
        border-width: 0;
        font-weight: 600;
        float: left;
}
.myCrEventBut:hover {
    background: rgb(100, 198, 76);
    color: rgb(4, 4, 4);
}
/*//////////////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////////////*/
.menu
{
    margin-top: 1em;
}
.menu .row .col-md-10 
{
   padding-right: 0;
}
.menu .row .col-md-2 
{
   padding-left: 0;
}
.menu .MenuInput
{
    padding-left:10px;
    display: block;
    width: 100%;
    height: 2.3em;
    border-radius: 5px;
    border-width: 1px;  
}
.menu .MenuInput::-webkit-outer-spin-button,
.menu .MenuInput::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.menu .Price p,
.menu .Mileage p,
.menu .Year p,
.menu .Transmission p,
.menu .Fuel p,
.menu .Color p
{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0.3em;
    padding-bottom: 0.2em;
    font-size: 18px;
    margin: 0;
}
.menu .Price .col-md-1,
.menu .Mileage .col-md-1,
.menu .Year .col-md-1
{
    margin: 0;
    padding-left:3px;
    padding-top: 0.3em;
    font-weight: 700;
}
.menu .Transmission .custom-select,
.menu .Fuel .custom-select,
.menu .Color .custom-select
{   
    padding-left:10px; 
    width:73%;
    height: 2.5em;
    border-radius: 5px;
    font-size: 17px;
}


/* ///////////////////////////////////////// */
.product .col-md-4
{
    border-radius: 5px;
    width: 31%;
    margin-left: 1em;
    margin-top: 1em;
    background-color: rgb(255, 255, 255);
}
.product .CarFoto
{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
}
.product .IcoFoto
{
    width: 1.5em;
}
.product h5
{
    text-align: center;
    padding-top: 0.5em;
}
.product button
{
    float: right;
    margin-bottom: 1em;
}
.product .Price 
{
    padding-top:10px;
    font-size: 18px;
    font-family: Nunito;
    font-weight: 600;
    float: right;
    padding-right: 1em;
    color: #008337;
}
.Scroll .row
{
    padding-top: 1em;
    padding-left: 7%;
}
.Scroll .col-md-1
{
    padding: 0;
    width: 2.5em;
}
.Scroll input
{
    font-size: 18px;
    border-radius: 10px;
    border:0;
    height: 2em;
    width: 2em;
    transition:  linear .3s;
}
.Scroll input:hover
{

    background-color: rgb(179, 209, 219);
    transition: linear .3s;

}

.ImportFoto1
{
    width: 100%;
    border-radius: 15px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #dddddd;
    padding: 5em;
    margin: 0;
    transition:  linear .3s;
}
.ImportFoto1:hover
{
    transition:  linear .3s;
    background-color: #f2f2f2;

}


  
.site-footer {

    background-color: rgb(85, 93, 176);
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: white;

}

    .site-footer hr {
        border-top-color: #bbb;
        opacity: 0.5
    }

        .site-footer hr.small {
            margin: 20px 0
        }

    .site-footer h6 {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 5px;
        letter-spacing: 2px
    }

    .site-footer a {
        color: #cbd8d8;
    }

        .site-footer a:hover {
            color: red;
            text-decoration: none;
        }

.footer-links {
    padding-left: 0;
    list-style: none
}

    .footer-links li {
        display: block
    }

    .footer-links a {
        color: #cbd8d8
    }

        .footer-links a:active, .footer-links a:focus, .footer-links a:hover {
            color: burlywood;
            text-decoration: none;
        }

    .footer-links.inline li {
        display: inline-block
    }

.site-footer .social-icons {
    text-align: right
}

    .site-footer .social-icons a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-left: 6px;
        margin-right: 0;
        border-radius: 100%;
        background-color: #33353d
    }

.copyright-text {
    margin: 0px;
    font-size: 18px;
    color: #cbd8d8;
}
.text-justify {
    color: #cbd8d8;
    font-size: 17px;
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

        .site-footer .copyright-text, .site-footer .social-icons {
            text-align: center
        }
}
@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}